<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/public/components/rhd-search-query.html">
<link rel="import" href="/public/components/rhd-search-box.html">
<link rel="import" href="/public/components/rhd-search-result-count.html">
<link rel="import" href="/public/components/rhd-search-filters.html">
<link rel="import" href="/public/components/rhd-search-filter-group.html">
<link rel="import" href="/public/components/rhd-search-filter-item.html">
<link rel="import" href="/public/components/rhd-search-results.html">
<link rel="import" href="/public/components/rhd-search-sort-page.html">
<link rel="import" href="/public/components/rhd-search-active-filters.html">
<link rel="import" href="/public/components/rhd-search-recommended.html">

<dom-module id="new-rhd-search">
  <template>
    <style>
      :host {
        display: flex;
        flex-flow: column;
      }

      .hide { display: none; }
      .show { display: block; }

      .mobile { display: none; }

      rhd-search-recommended {
        border: 1px solid #CCC;
        padding: 1em;
      }

      .content {
        display: flex;
        flex-direction: row;
        margin: 0 2em 2em 2em;
      }

      rhd-search-filters {
        flex: 0 0 240px;
        align-self: auto;
      }
      
      rhd-search-results {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }

      rhd-search-filter-group:not(:last-child) {
        border-bottom: 1px solid black;
      }

      @media only screen and (max-width: 768px) {
        :host {
          
        }
        .content {
          flex-direction: column;
          position: relative;
          margin: 0;
        }

        rhd-search-filters { flex: none; align-self: flex-start; float: left; }
        rhd-search-sort-page { align-self: flex-end; position: absolute; top: 0;}
        rhd-search-results { flex: auto; }
        .mobile { display: block; }
        .desktop { display: none; }
      }
    </style>
    <rhd-search-query results="{{results}}" filters="{{filters}}" limit="10"></rhd-search-query>
    <rhd-search-box term="{{filters.term}}"></rhd-search-box>
    <rhd-search-result-count count="{{results.hits.total}}" term="{{filters.term}}" class="desktop"></rhd-search-result-count>
    <div class="content">
      <rhd-search-filters title="Filter By" filters="{{filters}}"></rhd-search-filters>
      <rhd-search-results results="[[results]]" infinite>
        <rhd-search-sort-page sort="most recent" page-size="10"></rhd-search-sort-page>
        <rhd-search-result-count count="{{results.hits.total}}" term="{{filters.term}}" class="mobile"></rhd-search-result-count>
        <rhd-search-active-filters facets="{{filters.facets}}"></rhd-search-active-filters>
        <rhd-search-recommended></rhd-search-recommended>
      </rhd-search-results>
    </div>
  </template>

  <script>
    class RHDSearchApplication extends Polymer.Element {
      static get is() { return 'new-rhd-search'; }
      static get properties() {
        return { };
      }
    }

    window.customElements.define(RHDSearchApplication.is, RHDSearchApplication);
  </script>
</dom-module>
