<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="rhd-search-recommended">
  <template>
    <style>
      :host {
        display: block;
        margin-bottom: 1em;
      }
      h4 { font-weight: normal; font-style: oblique; margin: 0 0 1em 0; padding: 0; }
      h2 { font-weight: normal; margin: 0 0 .5em 0; padding: 0; }
    </style>
    <h4>Recommended</h4>
    <h2>Red Hat Container Development Kit</h2>
    <button>MEDIUM CTA</button>
  </template>

  <script>
    class RHDSearchRecommended extends Polymer.Element {
      static get is() { return 'rhd-search-recommended'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'rhd-search-recommended'
          }
        };
      }
    }

    window.customElements.define(RHDSearchRecommended.is, RHDSearchRecommended);
  </script>
</dom-module>
