<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="rhd-search-active-filters">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: row;
      }
      strong { flex: 0 1 auto; order: 1; }
      ul { flex: 1 1 auto; order: 2; list-style: none; }
      li { float: left; margin-left: 1.5em; }
      a { flex: 0 1 auto; order: 3; }
      @media only screen and (max-width: 768px) {
        :host {
          margin-right: 2em;
        }
      }
    </style>
    [[filters.target_product.0.name]]
    <strong>Active Filters:</strong>
    <ul>
    <template is="dom-repeat" items="{{facets}}">
      <template is="dom-repeat" items="{{item.items}}">
        <template is="dom-if" if="{{item.active}}">
          <li>[[item.name]] <a href="#" on-click="_clear([[item.value]])">X</a></li>
        </template>
      </template>
    </template>
    </ul>
    <a href="#" on-click="clearFilters">Clear All Filters</a>
  </template>

  <script>
    class RHDSearchActiveFilters extends Polymer.Element {
      static get is() { return 'rhd-search-active-filters'; }
      static get properties() {
        return {
          facets: {
            type: Array,
            notify: true
          }
        };
      }

      static get observers() {
        return [
            '_getFilters(facets)'
        ]
      }

      _clear(val) {
        let l = this.facets.length;
        for( let i=0; i < l; i++) {
          if (this.facets[i].items) {
            let k = this.facets[i].items.length;
            for( let j=0; j < k; j++) {
              if(this.facets[i].items[j].value == val) {
                this.set('facets.'+i+'.items.'+j+'.active', false);
              }
            }
          }
        }
      }

      clearFilters() {
        return false;
      }
    }

    window.customElements.define(RHDSearchActiveFilters.is, RHDSearchActiveFilters);
  </script>
</dom-module>
