<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="rhd-search-active-filters">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-repeat" items="{{list}}">
        <div>[[item]] <a href="#" onclick="return false;">X</a></div>
    </template>
  </template>

  <script>
    class RHDSearchActiveFilters extends Polymer.Element {
      static get is() { return 'rhd-search-active-filters'; }
      static get properties() {
        return {
          filters: {
            type: Object,
            notify: true
          },
          list: {
            type: Array,
            calculated: '_getFilters(filters)'
          }
        };
      }

      _getFilters(filters) {
        let keys = Object.keys(filters);
        let l = keys.length;
        for( let i=0; i < l; i++) {
          if (typeof filters[keys[i]] == 'array') {
            this.list.push(filters[keys[i]]);
          }
        }
      }
    }

    window.customElements.define(RHDSearchActiveFilters.is, RHDSearchActiveFilters);
  </script>
</dom-module>
