<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to OpenShift</title>
  <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <link rel="import" href="/bower_components/polymer/polymer.html">
  <link rel="stylesheet" href="/public/all.css">
</head>
<body>
<header class="main clearfix">
  <div class="row header-wrap">
    <nav class="accounts">
      <ul>
      <li class="login"><a>Log In</a></li>
      <li class="register"><a>Register</a></li>
      <li class="logged-in" style="display: none;"><a class="logged-in-name" href="#"></a></li>
      <li class="logged-in" style="display: none;"><a class="logout" href="#">Log Out</a></li>
      </ul>
    </nav>
    <div class="logo-wrap">
      <h1 class="logo">
        <!-- Do not remove the 'home-link' id from this 'a' tag -->
        <a id="home-link" href="../" title="Red Hat Developers"><img alt="Red Hat Developers" src="/public/RHD-logo.svg"></a>
      </h1>
      <a class="nav-toggle" href="#">Menu<i class="fa fa-angle-down"></i></a>
    </div>
    <nav class="mega-menu">
      <ul>
        <li class="has-sub-nav">
          <a href="#">Topics<i class="fa fa-angle-down"></i></a>
          <div class="sub-nav" id="sub-nav-topics">
              <a href="../containers/">Containers</a>
              <a href="../devops/">DevOps</a>
              <a href="../enterprise-java/">Enterprise Java</a>
              <a href="../iot/">Internet of Things</a>
              <a href="../microservices/">Microservices</a>
              <a href="../mobile/">Mobile</a>
              <a href="../web-and-api-development/">Web and API Development</a>
              <a href="../dotnet/">.NET</a>
          </div>
        </li>
        <li class="has-sub-nav">
          <a href="#">Technologies<i class="fa fa-angle-down"></i></a>
          <div class="sub-nav" id="sub-nav-technologies">
            <div class="sub-nav-group">
              <a class="heading" href="../products/#development_and_management">Accelerated Development and Management</a>
              <a class="hide-on-mobile" href="../products/datagrid/overview/">Red Hat JBoss Data Grid</a>
              <a class="hide-on-mobile" href="../products/eap/overview/">Red Hat JBoss Enterprise Application Platform</a>
              <a class="hide-on-mobile" href="../products/webserver/overview/">Red Hat JBoss Web Server</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#developer_tools">Developer Tools</a>
              <a class="hide-on-mobile" href="../products/cdk/overview/">Red Hat Container Development Kit</a>
              <a class="hide-on-mobile" href="../products/devsuite/overview/">Red Hat Development Suite</a>
              <a class="hide-on-mobile" href="../products/developertoolset/overview/">Red Hat Developer Toolset</a>
              <a class="hide-on-mobile" href="../products/devstudio/overview/">Red Hat JBoss Developer Studio</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#infrastructure">Infrastructure</a>
              <a class="hide-on-mobile" href="../products/rhel/overview/">Red Hat Enterprise Linux</a>
              <a class="hide-on-mobile" href="../products/softwarecollections/overview/">Red Hat Software Collections</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#integration_and_automation">Integration and Automation</a>
              <a class="hide-on-mobile" href="../products/amq/overview/">Red Hat JBoss A-MQ</a>
              <a class="hide-on-mobile" href="../products/datavirt/overview/">Red Hat JBoss Data Virtualization</a>
              <a class="hide-on-mobile" href="../products/fuse/overview/">Red Hat JBoss Fuse</a>
              <a class="hide-on-mobile" href="../products/bpmsuite/overview/">Red Hat JBoss BPM Suite</a>
              <a class="hide-on-mobile" href="../products/brms/overview/">Red Hat JBoss BRMS</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#mobile">Mobile</a>
              <a class="hide-on-mobile" href="../products/mobileplatform/overview/">Red Hat Mobile Application Platform</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#cloud">Cloud</a>
              <a class="hide-on-mobile" href="../products/openshift/overview/">Red Hat OpenShift Container Platform</a>
            </div>
            <div class="sub-nav-group">
              <a class="heading" href="../products/#runtimes">Runtimes</a>
              <a class="hide-on-mobile" href="../products/openjdk/overview/">OpenJDK</a>
              <a class="hide-on-mobile" href="../products/dotnet/overview/">.NET Runtime for Red Hat Linux</a>
            </div>
          </div>
        </li>
        <li class="has-sub-nav">
          <a href="#">Community<i class="fa fa-angle-down"></i></a>
          <div class="sub-nav pull-right" id="sub-nav-community">
            <a href="https://developers.redhat.com/blog">Developers Blog<span class="page-description">Insights &amp; news on Red Hat developer tools, platforms and more</span></a>
            <a href="../events/">Events<span class="page-description">Find the latest conferences, meetups, and virtual seminars</span></a>
            <div class="sub-nav-group">
              <a href="../projects/">Open Source Communities<span class="page-description">Community Projects that Red Hat participates in</span></a>
            </div>
            <a href="../community/contributor/">Content Contributors<span class="page-description">Share your knowledge. Contribute content to Red Hat Developers.</span></a>
          </div>
        </li>
        <li class="has-sub-nav">
          <a href="#">Help<i class="fa fa-angle-down"></i></a>
          <div class="sub-nav pull-right" id="sub-nav-help">
            <a href="../resources/">Resources<span class="page-description">Important technical resources for you in all shapes and sizes:  blogs, books, code, videos and more.</span></a>
            <a href="../forums/">Forums<span class="page-description">We've extended our popular JBoss.org forums to cover our entire Red Hat portfolio for you.</span></a>
            <a href="../stack-overflow/">Stack Overflow Q&amp;A<span class="page-description">You already use Stack Overflow, so we'll help you use it to find your best answers.</span></a>
          </div>
        </li>
        <li><a href="../downloads/">Downloads </a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>
